
.nav-bar {
    position: absolute;
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;

}

.logo {
    width: 130px;
    cursor: pointer;
}

.nav-bar .nav-links {
    width: fit-content;
    width: -moz-fit-content;
    position: absolute;
    z-index: 1000000;


}

.nav-bar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    font-size: 20px;
}

.nav-bar ul li a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
}

.nav-bar ul li:after {
    content: '';
    height: 3px;
    width: 0;
    border-radius: 5px;
    padding: 19px;
    z-index: -1;
    background: linear-gradient(to right, #239bffff 0%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    left: -10px;
    bottom: -10px;
    transition: 0.5s;

}


.nav-bar ul li:hover::after {
    width: 75%;
}

.nav-bar ul li a:hover {
    transition: 0.5s;
    color: #ffffff !important;
}

.nav-bar ul li span {
    color: #ffffff;
}

.nav-bar .icon {
    display: none;
}

@media screen and (max-width: 1200px) {
    .nav-bar {
        padding: 10px 0;
        width: 100%;
        overflow-x: clip;
        overflow-x: -moz-hidden-unscrollable;

    }

    .nav-links {
        width: 250px;
        height: 100vh;
        top: 0;
        background: #239bffff;
        z-index: 2;
        transition: 0.5s;

    }

    .nav-links ul li {
        margin: 50px;
        display: block;

    }

    .nav-links ul li a {
        color: white;

    }

    .icon {
        text-align: center;
        border-radius: 3px;
        z-index: 10000000000;
        cursor: pointer;
        top: 10px;
        padding: 15px;
        display: block !important;
    }
}

.icon i {
    padding: 5px;
    font-size: 20px;
    color: #239bffff;
}

